.login__container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 400px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.login__container span:first-child {
  font-size: 10px;
}

.login__container span:last-child {
  display: block;
  margin-top: 10px;
}

input[type="myid"],
input[type="password"] {
  height : 24px;
  border : 0.5px solid rgba(0,0,0, 0.3);
}

input[type="submit"]{
  margin-top : 10px;
  cursor: pointer;
  font-size : 10px;
  background: #01d28e;
  border : 1px solid #01d28e;
  color:#fff;
  padding : 10px 20px;
}

input[type="submit"]:hover{
  background: #6cf0c2;
}

input[type="checkklaytn"]{
  margin-top : 10px;
  cursor: pointer;
  font-size : 15px;
  background: #01d28e;
  border : 1px solid #01d28e;
  color:#fff;
  padding : 10px 20px;
}

input[type="checkklaytn"]:hover{
  background: #6cf0c2;
}

.button-container {
 display : flex;
 justify-content: center;
}

.mytitle {
  font-size: 20px;
  margin-button : 10px;
}

.input-container {
  display: flex;
  flex-direction : column;
  gap: 8px;
  margin : 10px;
}

.error {
  color: red;
  font-size: 12px;
}
